name: reviewdog
on:
  workflow_dispatch:
#  push:
#    branches:
#      - master
#  pull_request:
jobs:
  checkstyle:
    name: runner / checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dbelyaev/action-checkstyle@v0.5.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning
          checkstyle_config: sun_checks.xml
